#root {
  margin: 0 auto;
  text-align: center;
  background-color: #0D1031;
  color: white;
  height: 100%;
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
section{
  padding: 3rem;
  background-color: #0D1031;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-width: 100%;
  background-color: #090C24;
  padding: 2rem;
}
header{
  align-items: center;
  height: 500px;
}
.photo{
  width: 22%;
} 
.containerhabilidades{
  display: flex;
  flex-wrap: wrap;
}
.habilidades{
  height: 5rem;
}
.habilidades:hover {
  transform: scale(1.2);
  filter: brightness(100%);
}
.proyecto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
}
.cartas{
  padding: 2%;
  margin: 2%;
}
.cartas:hover{
  transform: scale(1.05);
  filter: brightness(110%);
}
.contact {
  padding: 3rem;
}

.contactlogo {
  height: 5rem;
  transition: filter 0.3s ease-in-out;
}

.contactlogo:hover {
  transform: scale(1.05);
  filter: brightness(180%);
}

.flecha{
  right: 5px;
 
}

.boxexp{
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}
.exp{
  width: 30%;
}
@media (max-width: 522px) {
  h5{
    font-size: small !important; 
  }
  header{
    height: 15rem !important;
  }
  h1{
    font-size: 2rem !important;
  }
  h4{
    font-size: large !important;
  }
  .contactlogo{
    height: 2.8rem;
  }

  .exp{
    width: 90%;
  }
  .habilidades{
    margin: 9px 0px;
    height: 5rem;
  }
}

@media (max-width: 417px) {
  .habilidades{
    height: 3rem;
  }
  .contactlogo{
    height: 2.8rem;
  }
  .habilidades{
    margin: 9px 10px;
    height: 5rem;
  }
}